body {
    background: rgb(147, 183, 229);
}

h1 {
    text-align: center;
    font-family: cursive;
}

nav {
    text-align: center;
}

/* #Open-Field {
    display: block;
    margin: auto;
}

#Trail {
    display: block;
    margin: auto;
} */

.column {
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}

.images::after{
    content: "";
    clear: both;
    display: table;
}

div h2 {
    text-align: center;
    background-color: green;
}

#Paragraph-One {
    width: 900px;
    text-align: center;
    margin:auto;
}

button {
    background: orange
}