body {
    background: rgb(147, 183, 229);
}

h1 {
    text-align: center;;
}

nav {
    text-align: center;
}

#Open-Field {
    display: block;
    margin: auto;
}

div h2 {
    text-align: center;
    background-color: green;
}

#Paragraph-One {
    width: 900px;
    text-align: center;
    margin:auto;
}